header {
    height: 80px;
}

main {
    background-color: #7FFFD4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    height: 800px;
    width: 800px;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid #000;
    cursor: crosshair;
}

.square.active {
    background-color: lightblue;
}

footer {
    height: 50px;
    line-height: 50px;
}